.allPosts{
  display: flex;
  flex-direction: column;
  margin:auto;
  width: 60%;
}

.allPosts h2{
  text-shadow: 1px 1px 2px pink;
}

.postBox{
  border-top: 1px solid black;
}

.postBox:hover{
  cursor: pointer;
  box-shadow: 10px 5px 5px black;
}

.postBox h3 {
  font-family: 'Dela Gothic One', cursive;
  font-weight: normal;
}

.postBox p{
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
