.postForm{
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-bottom:5px;
  row-gap: 20px;
  width: 40%;
  text-align: center;
}

.postForm>h2{
  text-shadow: 1px 1px 2px pink;
}

.postForm p{
  margin:0px;
}

.postForm textarea{
  height: 200px;
  width: 50%;
  max-width: 600px;
}

.postForm button{
  width: 80px;
  margin: auto;
}

.postForm h3{
  margin:0px;
  text-align: center;
}

.formBody{
  width: 100%;
}

.formTitle{
  align-self: center;
}
