.profile-dropdown {
  align-items: flex-start;
  background-color: white;
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  padding: 10px 40px;
  padding-left: 10px;
  position: absolute;
  right: 8px;
  top: 20px;
}

.icon{
  margin-right: 10px;
}

.hidden {
  display: none;
}

.navBar{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.leftNav, .rightNav{
  display: flex;
}

.rightNav{

  column-gap: 10px;
}

.navBarLoggedOut{
  height: 80px;
  background-color: orange;
  justify-content: space-around;
}

.navBarLoggedIn{
  background-color: white;
  padding-bottom: 3px;
  border-bottom: solid black 1px;
  margin-top: 2px;
}

.orangeButton{
  font-size: 18px;
  background-color: orange;
  border: none;
  cursor: pointer;
}

.clearButton{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.clearButton:hover, .orangeButton:hover{
  font-weight: bold;
  text-decoration: underline;
}

.searchBar{
  align-items: center;
  border: solid 1px black;
  border-radius: 10px;
  display: flex;
  margin-left: 10px;
  padding-left: 5px;
}

.searchBar>input{
  border: none;
  outline: none
}

#logoImage{
  height:20px;
  width: 30px;
}

#loggedOutLogoImage{
  height: 30px;
  width: auto;
}

.profileButtons{
  display: flex;
  flex-direction: column;
}

.profileButtonsTop, .profileButtonsMid{
  border-bottom: solid 1px black;
}

.profileButtons>button{
  background-color: white;
  border: none;
  cursor: pointer;
  flex-wrap: nowrap;
  display: flex;
  font-size: 16px;
}

#siteName{
  font-size: 18px;
  margin-left:5px;
  margin-right:10px;
}

#loggedOutSiteName{
  font-size: 28px;
  margin-left:5px;
  margin-right:10px;
}

.navBarLoggedOut img{
  height: 2000px;
}

#flagShip{
  align-items: center;
  display: flex;
}

#flagShip:hover{
  cursor: pointer;
  text-decoration: underline;
}
