.postActionConfirmationButtons{
  display:flex;
  justify-content: space-evenly;
}

.greenButton{
  background-color: green;
  color: white;
}

.redButton{
  background-color: red;
  color:white;
}

.greenButton:hover{
  font-weight: bold;
  text-shadow: 1px 1px 2px pink;
  box-shadow: 0 0 0 3px rgba(0, 255, 0, 0.8),
              0 0 10px rgba(0, 200, 0, 0.6),
              0 0 20px rgba(0, 150, 0, 0.4);
}

.redButton:hover{
  font-weight: bold;
  text-shadow: 1px 1px 2px pink;
  box-shadow: 0 0 0 3px rgba(255, 0, 0, 0.8),
              0 0 10px rgba(200, 0, 0, 0.6),
              0 0 20px rgba(150, 0, 0, 0.4);
}
