.singlePost{
  width:50%;
  margin:auto;
}

.postHeader > p{
  margin-top:5px;
  margin-bottom:2px;
}

.postHeader > h2{
  margin-top: 5px;
  margin-bottom: 1px;
  text-decoration: underline;
}

.postHeader > h3{
  margin-top: 1px;

}

.postActionButtons{
  display: flex;
  justify-content: flex-end;
}

.postActionButtons button{
  background-color: transparent;
  border: none;
}

.postActionButtons button:hover{
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}
.newCommentBox{
  border-bottom: solid black 1px;
  border-top: solid black 1px;
  display: flex;
  flex-direction: column;
}

.newCommentBox>textarea{
  height: 70px;
  resize:none;
  outline:none;
}

.newCommentBox>label{
  margin-top:5px;
  margin-bottom: 3px;
}

.newCommentBox p{
  margin-top:0px;
  margin-bottom:0px;
}

.comment{
  border-bottom:1px solid black;
  padding-bottom: 10px;
}

.comment p{
  text-wrap: wrap;
  word-break: break-all;
}

.commentActions{
  display: flex;
  justify-content: space-evenly;
}

.commentActions button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.commentActions button:hover{
  font-weight: bold;
  text-decoration: underline;
}
